{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" media="screen"/>
{% endblock %}
{% block logout %}{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h2>Authentication required</h2>

            <div id="content-main">
                <form action="" method="POST" id="login-form">
                    <div class="form-row">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="submit-row">
                        <input type="submit" value="Login">
                    </div>
                    {# Account creation is disabled by default - see
                       settings.NGPHYLO_ACCOUNT_CREATION_ENABLED
                       (NGPHYLO_ACCOUNT_CREATION_ENABLED env var /
                       ACCOUNT_CREATION_ENABLED GitLab CI/CD variable).
                       Restore this link on any deployment where it's
                       turned on. #}
                    {# <p><a href="{% url 'create_account' %}">Create an account</a></p> #}
                </form>
                <div>

                </div>
                <br class="clear"/>
            </div>

            <script type="text/javascript">
                document.getElementById('id_username').focus()
            </script>
        </div>
    </div>

{% endblock %}
