{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Set a new password</h2>
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-default" value="Change password"/>
                </form>
            {% else %}
                <p class="text-muted">
                    This password reset link is invalid, most likely because
                    it has already been used or has expired. Please
                    <a href="{% url 'password_reset' %}">request a new one</a>.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
