{% extends "base_site.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}BLAST{% endblock %}
{% block content %}

<script ></script>

<div>
<form action="{% url 'blast_form' %}" method="post">
    {% csrf_token %}
    {% crispy form %}
    <!-- <input name="submit" value="Submit" class="btn btn-primary pull-left" id="submit" type="submit"><br/> -->
</form>
</div>


<h1>Previous Blast Runs (in session)</h1>
  <table id="myTable" class="table table-striped ">
  <thead>
    <th>Status</th>
    <th>Query</th>
    <th>Date</th>
    <th>Blast DB</th>
    <th>Blast Program</th>
    <th>EValue cutoff</th>
    <th>Delete</th>
  </thead>
  <tbody>
  {% for blastrun in object_list %}
    <tr>
      <td><span class="label label-{{blastrun.status}}">{{ blastrun.status_str }}</span></td>
      <td>{{ blastrun.query_id }}</td>
      <td><a href="{% url 'blast_view' blastrun.id %}">{{ blastrun.date|date:"Y/m/d h:i" }}</a></td>
      <td>{{ blastrun.database }}</td>
      <td>{{ blastrun.blastprog }}</td>
      <td>{{ blastrun.evalue }}</td>
      <td><a href="{% url 'blast_delete' blastrun.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
