{% extends "base_site.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}BLAST{% endblock %}
{% block content %}

<script type="text/javascript">
    $(document).ready(function(){

	function update_programs(){
	    var server = $("select#id_server").find(":selected").val();
	    var url = '{% url 'available_blasts_progs' "wildcard" %}';
	    url = url.replace('wildcard', server);
	    var ajax = $.getJSON(
		url,
	    	function (data) {
		    $("select#id_program").empty();
		    console.log(data);
	    	    $.each(data, function(id, name) {
			$("select#id_program").append($("<option></option>")
						  .attr("value", id).text(name));
	    	    });
		    update_databases();
	    	});
	}

	function update_databases(){
	    var server = $("select#id_server").find(":selected").val();
	    var progid = $("select#id_program").find(":selected").val();
	    var url = '{% url 'available_blasts_dbs' "wildcard1" "wildcard2" %}';
	    url = url.replace('wildcard1', server);
	    url = url.replace('wildcard2', progid);
	    var ajax = $.getJSON(
		url,
	    	function (data) {
		    $("select#id_database").empty();
		    console.log(data);
	    	    $.each(data, function(id, name) {
			$("select#id_database").append($("<option></option>")
						  .attr("value", id).text(name));
	    	    });
	    	});
	}
	
	$( "select#id_server" ).change(function() {
	    update_programs();
	});

	
	$( "select#id_program" ).change(function() {
	    update_databases();
	});

	$( "select#id_program" ).change(function() {
	    var server = $("select#id_server").find(":selected").val();
	    var progid = $(this).find(":selected").val();
	    var url = '{% url 'available_blasts_dbs' "wildcard1" "wildcard2" %}';
	    url = url.replace('wildcard1', server);
	    url = url.replace('wildcard2', progid);
	    var ajax = $.getJSON(
		url,
	    	function (data) {
		    $("select#id_database").empty();
		    console.log(data);
	    	    $.each(data, function(id, name) {
			$("select#id_database").append($("<option></option>")
						  .attr("value", id).text(name));
	    	    });
	    	});
	});

	
    });

  
</script>

<div>
<form action="{% url 'blast_form' %}" method="post">
    {% csrf_token %}
    {% crispy form %}
    <!-- <input name="submit" value="Submit" class="btn btn-primary pull-left" id="submit" type="submit"><br/> -->
</form>
</div>


<h1>Previous Blast Runs (in session)</h1>
  <table id="myTable" class="table table-striped ">
  <thead>
    <th>Status</th>
    <th>Query</th>
    <th>Date</th>
    <th>Blast DB</th>
    <th>Blast Program</th>
    <th>EValue cutoff</th>
    <th>Delete</th>
  </thead>
  <tbody>
  {% for blastrun in object_list %}
    <tr>
      <td><span class="label label-{{blastrun.status}}">{{ blastrun.status_str }}</span></td>
      <td>{{ blastrun.query_id }}</td>
      <td><a href="{% url 'blast_view' blastrun.id %}">{{ blastrun.date|date:"Y/m/d h:i" }}</a></td>
      <td>{{ blastrun.database }}</td>
      <td>{{ blastrun.blastprog }}</td>
      <td>{{ blastrun.evalue }}</td>
      <td><a href="{% url 'blast_delete' blastrun.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
