{% load static %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th>Tool</th>
                <th>Step</th>
                <th>File Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            {% for file in history_content|dictsortreversed:"hid" %}
                <tr {% if not file.visible %}class='hidden' {% endif %}>
                    <td id="{{ file.id }}"></td>
                    <td>{{ file.hid }}.</td>
                    <td>{{ file.name }}</td>
                    <td id="state_{{ file.id }}">
                        {{ file.state }}
                    </td>
                    <td id="action_{{ file.id }}">
                        {% if 'ok' in file.state %}

                            <a class="btn btn-default" title="Dowload the file"
                               href="{% url 'download_file' file.id %}">download
                            </a>
                            <a class="btn btn-default" title="Display the content file"
                               href="{% url 'display_file' file.id %}">
                                display</a>
                            {% if file.extension in "nhx,nwk" %}
                                <a class="btn btn-success" title="Interactive Tree visualisation"
                                   href="{% url 'display_tree' file.id %}">
                            <span class="glyphicon text-success" aria-hidden="true"><img
                                    src="{% static 'images/ptree.svg' %}"> </span>
                                    Interactive tree
                                </a>
                                <a class="btn btn-warning" title="Export tree to iTOL: Interactive Tree Of Life"
                                   href="{% url 'export_to_itol' file.id %}"><span class="glyphicon glyphicon-export"
                                                                                   aria-hidden="true"> </span>
                                    Export to iTol
                                </a>
                            {% endif %}
                        {% elif 'error' in file.state %}
                            <a class="btn btn-default" title="shows error"
                               href="{% url 'galaxy_error_url' file.id %}">
                                <span class="glyphicon glyphicon-exclamation-sign text-danger"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>