{% load static %}
{% block stylesheet %}
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/biblio.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}
<script  type="text/javascript">
    $(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	var interval = 10000;
	var autorefresh = setInterval(refresh, interval);
	var elt = $('#countdown_span');
	elt.html(interval / 1000);
	
	function countdown() {
	    elt.html(elt.html() - 1);
	    if (elt.html() < 0) {
		elt.html(interval / 1000);
	    }
	}
	
	setInterval(countdown, 1000);
	{% if object.finished %}
	$('#info-refresh').hide();
	clearInterval(autorefresh);
	{% endif %}

        var ajax = $.getJSON("{% url 'get_dataset_citations' object.history_info.id %}",
			     function (data) {
 			       var items = [];
			     $.each(data, function(index, element) {
			     $.each(element,function(i,citation){
			     items.push("<li>"+citation+"</li>");
			     });
			     });
			     $("#pub-container").html(items.join(""));
			     });
    });
</script>

<script >
    $(function () {
	var deferreds = [];
	// Loop using .each
	$("[data]").each(function (index, value) {
	    var ajax = $.post("{% url 'get_dataset_tool' object.history_info.id %}",
			      {
				  'dataset_id': $(this).attr('id'),
				  'csrfmiddlewaretoken': '{{ csrf_token }}'
			      },
			      function (response) {
				  var result = response;
				  $('#' + result.dataset_id).attr('data', result.tool_id)
			      });
	    // Push promise to 'deferreds' array
	    deferreds.push(ajax);
	});
        // Use .apply onto array from deferreds
	$.when.apply($, deferreds).then(function () {
	    // group dataset by tool
	    var id_tool = '';
	    var first_dataset = '';
	    var cmpt = 1;
	    
	    $("[data]").each(function (index, el) {
		if (id_tool == $(el).attr('data')) {
		    cmpt++;
		    $(el).remove();
		} else {
		    cmpt = 1;
		    first_dataset = $(el).attr('id');
		    id_tool = $(el).attr('data');
		    $.post("{% url 'get_tool_name' %}",
			   {
			       'tool_id': $(this).attr('data'),
			       'csrfmiddlewaretoken': '{{ csrf_token }}'
			   },
			   function (response) {
			       var result = response;
			       $(el).text(result.name);
			   });
		}
		$('#' + first_dataset).attr('rowspan', cmpt);
	    });
	});
    });
</script>

  <script>
    function refresh() {
	location.reload();
    }
  function renameHistory(el){
      $.post("{% url 'history_rename' object.history_info.id %}",
	     {
		 name: el.value,
		 csrfmiddlewaretoken: '{{ csrf_token }}'
	     }
	    );
  }
  function changeEmail(el){
      $.post("{% url 'change_email' object.history_info.id %}",
	     {
		 email: el.value,
		 csrfmiddlewaretoken: '{{ csrf_token }}'
	     }
	    );
  }
</script>
<script>
    new Clipboard('#clip');
  function copied() {
      $("#success-copy").fadeIn();
      setTimeout(function(){ $("#success-copy").fadeOut("slow"); }, 2000);
  }
</script>
<div id="info-refresh" class="alert alert-info alert-dismissable fade in">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Info !</strong> This page is will be refreshed in <span id="countdown_span">5</span> sec.
</div>
<div id="success-copy" class="alert alert-success" style="display:none;">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success !</strong> The link is copied in you Clipboard!
</div>

<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <div class="input-group-addon">
        Url
      </div>
      <span class="form-control" readonly
            value="{{ request.META.HTTP_HOST }}{% url 'history_detail' object.history_info.id  %}">
        {{ request.META.HTTP_HOST }}{% url 'history_detail' object.history_info.id  %}
      </span>
      <a id='clip' class="btn btn-default input-group-addon btn-sm"
         data-clipboard-text="{{ request.META.HTTP_HOST }}{% url 'history_detail' object.history_info.id  %}"
         title="copy the url of analyse"
         data-toggle="tooltip" data-placement="right"
         onclick="copied()">
        <span class="glyphicon glyphicon-copy text-primary"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="input-group" onclick="$('#rename_history').focus();">
      <div class="input-group-addon">
        Name
      </div>
      <input id="rename_history" class="form-control input" onblur="renameHistory(this);"
             value="{{ object.name }}">
      <a class="btn input-group-addon btn-sm"
	 title="Rename your analyse"
	 data-toggle="tooltip" data-placement="right">
	<span class="glyphicon glyphicon-pencil text-primary"> </span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="input-group" onclick="$('#change_email).focus();">
      <div class="input-group-addon">
        e-mail
      </div>
      <input id="change_email" class="form-control input" onblur="changeEmail(this);"
             value="{{ object.email }}" />
      <a class="btn input-group-addon btn-sm"
	 title="Change contact email if you want to be notified"
	 data-toggle="tooltip" data-placement="right">
	<span class="glyphicon glyphicon-send text-primary"> </span>
      </a>
    </div>
  </div>
</div>
<br>
<hr>
<div class="row">
  <div class="col-md-12">
    <table id="myTable" class="table table-striped ">
      <thead>
        <th style="width: 10%;">Tool</th>
        <th>Step</th>
        <th style="width: 40%;">File Name</th>
        <th>Status</th>
        <th></th>
      </thead>
      <tbody>
        <tr></tr>

        {% for file in object.history_content|dictsortreversed:"hid" %}
        <tr {% if not file.visible %}class='hidden' {% endif %}>
          <td id="{{ file.id }}" data=''></td>
          <td>{{ file.hid }}.</td>
          <td>{{ file.name }}</td>
          <td id="state_{{ file.id }}">
            {% if 'ok' in file.state %}
            <span class="glyphicon glyphicon-ok  text-success"
                  data-toggle="tooltip" data-placement="right"
                  title="Success!">
            </span>
            {% elif 'queued' in file.state or 'new' in file.state %}
            <span class="loading-dot"
                  data-toggle="tooltip" data-placement="right"
                  title="Waiting to be launch">
              <span class="h2 loader-dot">.</span>
              <span class="h2 loader-dot">.</span>
              <span class="h2 loader-dot">.</span>
            </span>
            {% elif "running" in file.state %}
            <span class="glyphicon glyphicon-refresh spin"
                  data-toggle="tooltip" data-placement="right"
                  title="Your job is running">
            </span>
            {% else %}
            <span class="glyphicon glyphicon-remove text-danger"
                  data-toggle="tooltip" data-placement="right"
                  title="Your job fail">
            </span>
            {% endif %}
          </td>
          <td id="action_{{ file.id }}">
            {% if 'ok' in file.state %}
            {# <a class="btn btn-default btn-sm" title="Export big data in your personal outputs folder" #}
                  {# href="{% url 'export_file' file.id %}"> #}
              {# <span class="glyphicon glyphicon-export text-primary" aria-hidden="true"></span></a>#}
	    {% if file.id in request.session.files %} 
            <a class="btn btn-default btn-sm" title="Remove file from session"
               data-toggle="tooltip" data-placement="right"
               href="{% url 'remove_file_from_session' file.id %}">
              <span class="glyphicon glyphicon-minus text-primary"></span></a>
	    {% else %}
            <a class="btn btn-default btn-sm" title="Add file to session to use it as input of another tool or workflow"
               data-toggle="tooltip" data-placement="right"
               href="{% url 'add_file_to_session' file.id %}">
              <span class="glyphicon glyphicon-plus text-primary"></span></a>
	    {% endif %}
            <a class="btn btn-default btn-sm" title="Run parameters"
               data-toggle="tooltip" data-placement="right"
               href="{% url 'display_params' file.id %}">
              <span class="glyphicon glyphicon-cog text-primary"></span></a>
            <a class="btn btn-default btn-sm" title="Dowload the file"
               data-toggle="tooltip" data-placement="right"
               href="{% url 'download_file' file.id %}">
              <span class="glyphicon glyphicon-download-alt text-primary"></span></a>
            <a class="btn btn-default btn-sm"
               href="{% url 'display_file' file.id %}"
               data-toggle="tooltip" data-placement="right"
               title="Display this file in your web browser">
              {% if file.extension in "svg" %}
              <span class="glyphicon glyphicon-picture"></span>.svg
              {% else %}
              <span class="glyphicon glyphicon-eye-open text-primary"></span>.{{ file.extension }}
	      {% endif %}
	    </a>
	    {% if file.extension in "nhx,nwk" %}
	    <a class="btn btn-success btn-sm" title="Open Interactive Tree visualisation"
	       href="{% url 'display_tree' file.id %}"
	       data-toggle="tooltip" data-placement="right">
	      <span class="glyphicon text-success" aria-hidden="true">
		<img src="{% static 'images/ptree.svg' %}">
	      </span>
	      Viewer
	    </a>
	    <a class="btn btn-warning btn-sm" title="Export tree to iTOL: Interactive Tree Of Life"
	       href="{% url 'export_to_itol' file.id %}" target="_blank"
	       data-toggle="tooltip" data-placement="right"
	       title="Export your newick tree into iTol, external tree viewer">
	      <span class="glyphicon glyphicon-export" aria-hidden="true"> </span>
	      iTol
	    </a>
	    {% endif %}
	    {% if file.extension in "fasta,fsa,msa,fna" %}
	    <a class="btn btn-info btn-sm" title="MSAViewer"
	       href="{% url 'display_msa' file.id %}"
	       data-toggle="tooltip" data-placement="right"
	       title="Multipe sequences viewer">
	      <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
	      MSAViewer
	    </a>
	    {% endif %}
	    {% elif 'error' in file.state %}
	    <a class="btn btn-default btn-sm" title="shows error"
	       href="{% url 'galaxy_error_url' file.id %}">
	      <span class="glyphicon glyphicon-exclamation-sign text-danger"></span>
	    </a>
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
<h4>References of tools to cite</h4>
<a class="label label-success" href="{% url 'get_dataset_citations_bibtex' object.history_info.id %}" target="_blank">bibTeX</a> <a class="label label-info" href="{% url 'get_dataset_citations_txt' object.history_info.id %}" target="_blank">txt</a></h4>
<article id="publications" class="list">
  <ul id="pub-container" class="pubs">
    
  </ul>
</article>
<h4>Files stored in session</h4>
<table  class="table table-striped ">
  <tr><th>File ID</th><th>File Name</th><th>History ID</th><th>Remove</th></tr>
  {% for id, values in request.session.files.items %}
  <tr>
  <td>{{id}}</td>
  <td>{{values.name}}</td>
  <td>{{values.history}}</td>
  <td>
    <a class="btn btn-default btn-sm" title="Remove file from session"
       data-toggle="tooltip" data-placement="right"
       href="{% url 'remove_file_from_session' id %}">
      <span class="glyphicon glyphicon-minus text-primary"></span></a>
  </td>
  </tr>
  {% endfor %}
</table>
