<h4>History: {{ history_info.name }}</h4>
<table class="table table-striped ">
    <thead>
    <th>Step</th>
    <th>File Name</th>
    <th>Statut</th>
    </thead>

    {% for file in  history_content|dictsortreversed:"hid" %}
        <tr>
            <td>{{ file.hid }}.</td>
            <td>{{ file.name }}</td>
            {% if 'ok' in file.state %}
                <td><span class="glyphicon glyphicon-ok  text-success"></span></td>
                <td>
                    {% if 'ok' in file.state %}
                        <a class="btn btn-default" title="Export big data in your personal outputs folder"
                           href="{% url 'export_file' file.id %}"><span class="glyphicon glyphicon-export text-primary"
                                                                        aria-hidden="true"></span> </a>{% endif %}
                    {% if 'ok' in file.state %}<a class="btn btn-default" title="Dowload the file"
                                                  href="{% url 'download_file' file.id %}"><span
                            class="glyphicon glyphicon-download-alt text-primary"></span> </a>{% endif %}
                    {% if 'ok' in file.state %}
                        <a class="btn btn-default" title="Save the file in the database and shared with project group"
                           href="{% url 'display_file' file.id %}"><span
                                class="glyphicon glyphicon-eye-open text-primary"></span> </a>{% endif %}
                </td>
            {% elif  'queued' in file.state %}
                <td><span class="glyphicon glyphicon-time"></span></td>
                <td></td>
            {% elif "running" in file.state %}
                <td><span class="glyphicon glyphicon-refresh spin"></span></td>
                <td></td>
            {% else %}
                <td><span class="glyphicon glyphicon-remove text-danger"></span></td>
                <td></td>
            {% endif %}

            </td>
        </tr>
    {% endfor %}
</table>
