<div class="row row-eq-height phylo-analysis">
    <div class="col-md-4 col-sm-4 text-center">
        <div>
            <a class="" href="{% url 'workflow_oneclick_list' %}">
                <img src="/static/images/oneclick.svg" alt="Worflows One Click"/>
                <h3><span class="glyphicon glyphicon-chevron-right small"></span> One Click</h3>
                <p>
                    Upload or Paste your set of sequences and let the software make decisions on your
                    behalf.
                </p>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
        <div>
            <a class="" href="{% url 'workflows_advanced' %}">
                <img src="/static/images/custom.svg" alt="Worflows Advanced"/>
                <h3><span class="glyphicon glyphicon-chevron-right small"></span> Advanced</h3>
                <p>
                    Manually set parameters for the various steps.
                </p>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
        <div>
            <a class="" href="{% url 'workflows_alacarte' %}">
                <img src="/static/images/build.svg" alt="A la carte"/>
                <h3><span class="glyphicon glyphicon-chevron-right small"></span> A la Carte</h3>
                <p>
                    Create your own phylogeny workflow using more programs available.
                </p>
            </a>
        </div>
    </div>
</div>