<div class="row row-eq-height phylo-analysis">
    <div class="col-md-4 col-sm-4 text-center">
        <div>
            <a class="" href="{% url 'workflow_oneclick_list' %}">
                <img src="/static/images/oneclick.svg" alt="Worflows One Click"/>
                <h3><span class="glyphicon glyphicon-chevron-right small"></span> One Click</h3>
                <p>
                  Fully automatic workflow<br/><b>Default</b> tools + <b>default</b> parameters.
                </p>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
        <div>
            <a class="" href="{% url 'workflows_advanced' %}">
                <img src="/static/images/custom.svg" alt="Worflows Advanced"/>
                <h3><span class="glyphicon glyphicon-chevron-right small"></span> Advanced</h3>
                <p>
                  Semi automatic workflow<br/><b>Default</b> tools + <b>custom</b> parameters
                </p>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
        <div>
            <a class="" href="{% url 'workflows_alacarte' %}">
                <img src="/static/images/build.svg" alt="A la carte"/>
                <h3><span class="glyphicon glyphicon-chevron-right small"></span> A la Carte</h3>
                <p>
                  Custom workflow<br/><b>Custom</b> tools + <b>Custom</b> parameters.
                </p>
            </a>
        </div>
    </div>
</div>
