@import 'https://fonts.googleapis.com/css?family=Bungee+Inline|Francois+One';
/*font-family: 'Francois One', sans-serif;
font-family: 'Fascinate Inline', cursive;
font-family: 'Bungee Inline', cursive;*/

.title-bg{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.title-cap{
    font-family: 'Bungee Inline', cursive;
}

.nav{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
header.jumbotron{

    color:#ffffff ;
    background-color: #446cb3;
    background-size: 100%;
    background-image: url("/static/images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0px;

}

footer {
    min-height: 100px;
}

.sidenav {
      background-color: #f2f2f2;
      height: 100%;
      padding-bottom: 100px;

}

.miniworkflow .panel{
      top:0px;
      width:120px;
}

.miniworkflow .glyphicon.glyphicon-arrow-right{
    font-size:20px;
    font-color:blue;
    padding:2px;
}
