.jumbotron-layer img{
    float:right;
    margin-left:5px;
    height:200px;
}

.jumbotron-layer {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,.2);
    padding:10px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.jumbotron-home{
    background-image: url("/static/images/homepage3.png");
    background-position: 100% 42%;
    background-color: #e3dee0;
    background-repeat: no-repeat;
    background-size: 120%;
    padding:0px;
    margin:0px;
    width:100%;
    margin:0px;
    padding-top:60px;
    padding-bottom:10px;
}

.jumbotron-layer p{
    font-size: 18px;
    font-weight: 200;
}

.phylo-analysis .col-md-4 div {
    padding-right: 10px;
    margin-top: 10px;
    height: 100%;
    border-bottom-color: #1f77b4;
    border-bottom-style: solid;
    border-top-color: white;
    border-top-style: solid;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.95), rgba(242, 242, 242, 0.95));
}

.phylo-analysis .col-md-4 div:hover {
    border-top-color: #1f77b4;
    border-top-style: solid;
}

.phylo-analysis a:hover {
    text-decoration: none;
}
