{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav-analysis %}class="active"{% endblock %}
{% block stylesheet %}
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
  });
  </script>
  <script>
  $( function() {
    $( 'input:radio').change( function() {
        if ($(this).is(':checked')){
            $('#sortable #'+$(this).attr('data-target')).remove();
            $('#sortable').append($('#'+$(this).attr('data-panel')).clone().prop({ id: $(this).attr('data-target')} ).show());
            $('label:has(input:radio:checked)').addClass('active btn-info');
            $('label:has(input:radio:not(:checked))').removeClass('active btn-info');
        }

    });
  });
  </script>
{% endblock %}
{% block content %}
    <div class="col-md-3">
        <h3 class="text-justify"><span class="glyphicon glyphicon-chevron-right small"></span>List of Tools</h3>
        <div class="row">
        <div class="btn-group-vertical"  role="group">
            {% for tool in tool_list %}
                <label class="btn btn-default" for="radio-{{ tool.pk }}">{{ tool.name }}
                    <input id="radio-{{ tool.pk }}" type="radio" name="radio" data-panel="toolbox-{{ tool.pk }}" data-target="tag1" class='hidden'>
                </label>
                {# tool panel #}
                <div id="toolbox-{{ tool.pk }}" class="col-xs-12 col-sm-6 col-md-3" style="display:none;">
                    {% include 'tools/tool_panel.html' %}
                </div>
                {# end tool panel #}
            {% endfor %}
        </div>
       </div>
        <div class="row">
        <h3 class="text-justify"><span class="glyphicon glyphicon-chevron-right small"></span>List of Tools</h3>
        <div class="btn-group-vertical"  role="group">
            {% for tool in tool_list %}
                <label class="btn btn-default" for="radio-{{ tool.pk }}-2">{{ tool.name }}
                    <input id="radio-{{ tool.pk }}-2" type="radio" name="radio-2" data-panel="toolbox-{{ tool.pk }}" data-target="tag2" class='hidden'>
                </label>
                {# tool panel #}
                <div id=toolbox-{{ tool.pk }}" class="col-xs-12 col-sm-6 col-md-3" style="display:none;">
                    {% include 'tools/tool_panel.html' %}
                </div>
                {# end tool panel #}
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="col-md-9">
        <div class="row"><h3>Workflow</h3></div>
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading"></div>
                <div class="panel-body">Input</div>
                <div class="panel-footer">
                </div>
                <input type="hidden" name="tools" value="{{ tool.pk }}"/>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
        <div id="sortable" class="row">
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" name="Submit">
        </div>
        </form>
    </div>
{% endblock content %}
