{% extends "workflows/workflows_list.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block nav-analysis %}class="active"{% endblock %}
{% block stylesheet %}
    <script src="{% static 'js/jquery.filer.min.js' %} "></script>
    <link rel="stylesheet" href="{% static 'css/jquery.filer.css' %}"/>
    <script>
        $(document).ready(function () {
            $(':file').filer({
                limit: 1,
                showThumbs: true,
                changeInput: true,
                extensions: ['fasta', 'fna', 'fa', 'faa'],
                fileMaxSize: 5 //MO
            });
            $('form').attr('action', "{{ workflow_list.0.slug }}");
        });
    </script>
{% endblock %}
{% block workflow-type %}One Click Workflows{% endblock %}
{% block workflow-form %}
    <div class="row">
        <div class="col-md-8">
            <h4>Select an input data file</h4>
            {% load crispy_forms_tags %}
            <div class="panel panel-info">
                <div class="panel-heading">Input Data (Fasta format)</div>
                <div class="panel-body">
                    <div class="form-group">
                        {% crispy form %}
                    </div>
                </div>
            </div>
            <h4>OR</h4>
            {% load crispy_forms_tags %}
            <div class="panel panel-info">
                <div class="panel-heading">Paste yours sequences (Fasta format)</div>
                <div class="panel-body">
                    <div class="form-group">
                        {% crispy textarea_form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}