{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav-analysis %}class="active"{% endblock %}
{% block stylesheet %}
    <script src="{% static 'js/jquery.filer.min.js' %} "></script>
    <link rel="stylesheet" href="{% static 'css/jquery.filer.css' %}" />
    <script>
        $(document).ready(function () {
            var myInputFile = $(':file');
            var myInputFilename = myInputFile.attr('name');
            myInputFile.filer({
                showThumbs: true,
                changeInput: true,
            });
            myInputFile.attr({name: myInputFilename});
        });
    </script>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
            <h3>{{ workflow.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6 panel panel-info">
            <h4 class="text-center bg-info">Input</h4>
            <div class="col-md-8">
                {% crispy form %}
            </div>
        </div>
    </div>
   <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% for step, tool in steps %}
                step:{{ step }}

                    {% include 'tools/tool_panel.html' %}

            {% endfor %}
        </div>
   </div>
{% endblock content %}