{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav-analysis %}class="active"{% endblock %}
{% block stylesheet %}
{#    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" xmlns="http://www.w3.org/1999/html"></script>#}
{#    <script>#}
{#     $( function() {#}
{#          $( "#sortable" ).sortable();#}
{#          $( "#sortable" ).disableSelection();#}
{#     });#}
{#      </script>#}
  <script>
  $( function() {
    $( 'input:checkbox').change( function() {
        if ($(this).is(':checked')){
            $('#sortable #'+$(this).attr('data-target')).remove();
            $('#sortable')
                    .append($('#'+$(this).attr('data-panel')).clone().prop({ id: $(this).attr('data-target')}).show());

            $('label:has(input:checkbox:checked)').addClass('active btn-info');
            $('label:has(input:checkbox:not(:checked))').removeClass('active btn-info');
        }

    });
  });
  </script>
{% endblock %}
{% block content %}
    <div class="col-md-12 ">
        <div class="row">
            <h3>Workflow</h3>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-1">
            <div class="panel panel-info">
                <div class="panel-heading"></div>
                <div class="panel-body">Input</div>
                <div class="panel-footer">
                </div>
                <input type="hidden" name="tools" value="{{ tool.pk }}"/>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
        <div id="sortable" class="row">
        </div>
        <div class="row">
            <botton type="submit" class="btn btn-primary" name="run" value="Run workflow"><span class="glyphicon glyphicon-play-circle"></span> Run workflow</botton>
        </div>
        </form>
    </div>
    <div class="row"></div>
    <div class="row">
        <h3 class="text-justify"><span class="glyphicon glyphicon-chevron-right small"></span>List of Tools</h3>
    </div>
    <div class="row">
    {% regroup tool_list|dictsort:"tag" by get_tag_display as grouped_tools %}
    {% for tag in grouped_tools %}
    <div class="col-md-3">
        <h4 class="text-justify"><span class="glyphicon glyphicon-chevron-right small"></span>{{tag.grouper}}</h4>
        <div class="btn-group-vertical"  role="group">
            {% for tool in tag.list %}
                <label class="btn btn-default" for="radio-{{ tool.pk }}">{{ tool.name }}
                    <input id="radio-{{ tool.pk }}" type="checkbox" name="radio-r{{ tool.tag }}"
                           data-panel="toolbox-{{ tool.pk }}" data-target="r{{tool.tag}}" class='hidden'>
                </label>
                {# tool panel #}
                <div id="toolbox-{{ tool.pk }}" class="col-xs-12 col-sm-4 col-md-2" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            onclick="$(this).parent().remove();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% include 'tools/tool_panel.html' %}
                </div>
                {# end tool panel #}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    </div>
{% endblock content %}
