{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav-analysis %}class="active"{% endblock %}
{% block stylesheet %}
    {#    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" xmlns="http://www.w3.org/1999/html"></script>#}
    {#    <script>#}
    {#     $( function() {#}
    {#          $( "#mini-wk" ).sortable();#}
    {#          $( "#mini-wk" ).disableSelection();#}
    {#     });#}
    {#      </script>#}
    <script>
        $(function () {
            $('input:radio:checked').each(function () {
                $('#' + $(this).attr('data-target')).show().empty().append($('#' + $(this).attr('data-panel')).clone().show());
                $(this).parent().addClass('active btn-info');
            });

            $('input:radio').change(function () {
                $('input:radio').parent().removeClass('active btn-info');
                $('input:radio:checked').parent().addClass('active btn-info');
                if ($(this).is(':checked')) {
                    $('#' + $(this).attr('data-target')).show().empty().append($('#' + $(this).attr('data-panel')).clone().show());
                }
            });
            $('#wkname').change(function () {
                $("input[name='wkname']").val($('#wkname').val());
            });
            $("#submit1").click(function () {
                $("#wkform").submit();
            });
        });
    </script>
    <script>
        function remove_panel(obj) {
            $(obj).parent().parent().hide();
            $('[data-panel="' + $(obj).parent().attr('id') + '"]').prop('checked', false).parent().removeClass('active btn-info');
            $(obj).parent().remove();
        }

    </script>

{% endblock %}
{% block xl-content %}
<h2><span class="glyphicon glyphicon-chevron-right"></span>Workflows Maker</h2>
<h5>Select tools in a this predefine order to build your own workflow</h5>
<br>
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <h3><span class="glyphicon glyphicon-chevron-right small"></span>List of Tools</h3>
    </div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if "error" in message.tags %}
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert"
           aria-label="close">&times;</a><strong>Warning!</strong>
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        {% for step in workflow|dictsort:"step" %}
        <div class="col-md-2 text-center">
            {% for e in step.group %}
            {% if forloop.first %}
            <span class="badge info">{{ forloop.parentloop.counter }}</span><img
                src="{% static 'images/wmaker/' %}{{e.flag.name}}.png ">
            {% endif %}
            <hr>
            <span class="h4 text-center">{{ e.flag.verbose_name }}</span>
            <hr>
            <div class="row"></div>
            <div class="btn-group-vertical" role="group">
                {% for tool in e.tools %}
                <label class="btn btn-default" type="button" for="radio-{{ tool.pk }}">{{ tool.name }}
                    <input type="radio"
                           id="radio-{{ tool.pk }}"
                           name="radio-{{ step.step }}"
                           data-panel="toolbox-{{ tool.pk }}"
                           data-target="wk-display-{{ step.step }}">
                    {# tool panel #}
                    <div id="toolbox-{{ tool.pk }}" class="alert" style="display:none;">
                        <button type="button" class="close"
                                aria-label="Close"
                                onclick="remove_panel(this);">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <input name="{{ e.flag.name }}" value="{{ tool.pk }}" hidden/>
                        {% include 'tools/tool_panel.html' %}
                    </div>
                    {# end tool panel #}
                </label>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
<div style="background-color:#f6f6f6; margin-top: 20px;">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <h3><span class="glyphicon glyphicon-chevron-right small"></span>
                Workflow overview
            </h3></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <form id="wkform" action="" method="post">
                {% csrf_token %}
                <input name=wkname type="hidden" value="">
                <div id="mini-wk" class="row">
                    <div class="col-md-2">
                        <div class="panel panel-info">
                            <div class="panel-heading"></div>
                            <div class="panel-body">Input</div>
                            <div class="panel-footer">
                            </div>
                        </div>
                    </div>
                    {% for step in workflow|dictsort:"step" %}
                    <div id='wk-display-{{ step.step }}' class="col-md-2" style="display:none"></div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <h3 class="text-justify"><span class="glyphicon glyphicon-chevron-right small"></span>Workflow name</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <h5></h5>
        <input id='wkname' class="form-control" placeholder="Workflow name.." type="text">
        <hr>
        <button id="submit1" type="submit" class="btn btn-primary" name="run" value="Build workflow">
            <span class="glyphicon glyphicon-play-circle"></span> Create workflow
        </button>
    </div>
</div>
{% endblock xl-content %}
