{% extends "base_site.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheet %}
    <script>
        $(document).ready(function () {
            $(':file').filer({
                limit: 1,
                showThumbs: true,
                changeInput: true,
                extensions: ['fasta', 'fas', 'faa', 'fna', 'fa', 'ffn', 'frn'],
                fileMaxSize: 5 //MO
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h3 class="text-center">
        <span class="glyphicon glyphicon-cog"></span>
        {{ workflow.name }}
    </h3>
    <br>
    <div class="row row-eq-height">
        <div class="col-md-6 ">
            <h4>Select an input data file</h4>
            {% load crispy_forms_tags %}
            <div class="panel panel-info">
                <div class="panel-heading">Input Data (Fasta format)</div>
                <div class="panel-body">
                    <div class="form-group">
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            {% load crispy_forms_tags %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="h4">... OR</span> Paste yours sequences (Fasta format)</span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {% crispy textarea_form %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table id="{{ workflow.slug }}" class="table-responsive center">
                {% for nbstep, step in steps.items %}
                    <tr class="d-inline-block text-center">
                        <td class="h2">
                            <span class="glyphicon glyphicon-arrow-down"> </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="panel-group nomargin">
                                <div class="panel panel-info">
                                    <div class="panel-heading">{{ step.tool.toolflag_set.first|default_if_none:"" }}</div>
                                    <div class="panel-body">
                                        <a data-toggle="collapse" href="#collapse-{{ nbstep }}-{{ workflow.slug }}">
                                            <span class="glyphicon glyphicon-info-sign"></span></a> {{ step.tool.name }}
                                    </div>
                                    <div id="collapse-{{ nbstep }}-{{ workflow.slug }}" class="panel-collapse collapse">
                                        <div class="panel-footer">
                                            {{ step.tool.description }}
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        {{ step.annotation | safe }}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
        <br>
        <div class="col-md-9">

        </div>
    </div>
    </div>
{% endblock content %}
