{% extends "base_site.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Workflows{% endblock %}
{% block xl-content %}
    <script>
        $(function () {
            $(".workflow_li").on("click", function () {
                $(".workflow_li").removeClass("active");
                $(this).addClass("active");
                $('.miniworkflow').hide();
                $($(this).find('a').attr('id')).show();
                $('form').attr('action', $(this).find('a').attr('id').replace("#", ""));
                $('#more_info').attr('href', $(this).find('a').attr('id').replace("#", ""));
            });
        });
    </script>
    {% block workflow-name %}{% endblock %}
    <br>
    <div class="row row-eq-height">
        {% block workflow-sidebar %}
            <div class="col-md-3 sidenav">
                <div class="text-center">
                    <h4>-- Select your workflow --</h4>
                    <hr>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    {% for workflow in workflow_list|dictsort:"rank" %}
                        <li class="workflow_li {% if forloop.first %}active{% endif %}">
                            <a id="#{{ workflow.slug }}">
                                <span class="glyphicon glyphicon-cog"></span>
                                {{ workflow.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <br>
            </div>
        {% endblock %}
        <div class="col-md-9">
            <div class="row">
                    <h4>Workflow steps overview:</h4>
                    {% block workflow-overview %}
                        {% for workflow in workflow_list|dictsort:"rank" %}
                            {% include "workflows/include/workflow_overview.html" %}
                        {% endfor %}
                    <br>
                    {% endblock %}
            </div>
            <br>
            {% block workflow-form %}
            {% endblock %}
        </div>
    </div>
    {% include "include/waiting_modal.html" %}
{% endblock xl-content %}
