{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block nav-analysis %}class="active"{% endblock %}
{% block stylesheet %}
<script>
    $(document).ready(function () {
        var myInputFile = $(':file');
        var myInputFilename = myInputFile.attr('name');
        myInputFile.filer({
            showThumbs: true,
            changeInput: true,
        });
        myInputFile.attr({name: myInputFilename});
    });
</script>
{% endblock %}
{% block content %}
<script>
$(function() {
  $(".nav.nav-pills li").on("click", function() {
    $(".nav.nav-pills li").removeClass("active");
    $(this).addClass("active");
    $('.miniworkflow').hide();
    $($(this).find('a').attr('id')).show();
    $('form').attr('action', $(this).find('a').attr('id').replace("#", ''));
    $('#more_info').attr('href', $(this).find('a').attr('id').replace("#", ''))
  });
});

</script>
<h3>One Click Workflows</h3>
<div class="row">

    <div class="col-md-2">
        <h5>Workflow steps overview</h5>
        <a id='more_info' class="btn btn-default" href="{{ workflow_list.0.slug }}"><span
                class="glyphicon glyphicon-question-sign"></span> More detail</a>
    </div>

    <div class="col-md-10">
        {% for workflow in workflow_list|dictsort:"rank" %}
        <table id="{{ workflow.slug }}" class="table-responsive miniworkflow"
               {% if not forloop.first %}style="display:none;" {%endif%}>
            <tr>
                <td class="d-inline-block">
                    <div class="panel-group">
                        <div class="panel panel-info">
                            <div class="panel-heading">Input data</div>
                            <div class="panel-body">
                                Fasta format
                            </div>
                        </div>
                    </div>
                </td>
                <td class="d-inline-block align-middle text-center">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </td>
                {% for step, tool in workflow.detail %}
                <td class="d-inline-block">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ tool.toolflag_set.first|default_if_none:"" }}</div>
                            <div class="panel-body">
                                <a data-toggle="collapse" href="#collapse-{{ step }}-{{ workflow.slug }}"><span
                                        class="glyphicon glyphicon-info-sign"></span></a> {{ tool.name }}
                            </div>
                            <div id="collapse-{{ step }}-{{ workflow.slug }}" class="panel-collapse collapse">
                                <div class="panel-footer">
                                    {{ tool.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                {% if not forloop.last %}
                <td class="d-inline-block align-middle text-center">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
        {% endfor %}
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-md-3 sidenav">
        <br>
        <ul class="nav nav-pills nav-stacked">
            <h4>One click Workflow List:</h4>
            <hr/>
            {% for workflow in workflow_list|dictsort:"rank" %}
            <li {% if forloop.first %}class="active" {%endif%}>
                <a id="#{{ workflow.slug }}">
                    <span class="glyphicon glyphicon-cog"></span>
                    {{ workflow.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <br>
    </div>
    <div class="col-md-7">
        <h4>Select an input data file</h4>
        {% load crispy_forms_tags %}
         <div class="panel panel-info">
                <div class="panel-heading">Input Data (Fasta format)</div>
                <div class="panel-body">
                    <div class="form-group">
                    {% crispy form %}
                    </div>
            </div>
         </div>
        <h4>OR</h4>
         {% load crispy_forms_tags %}
         <div class="panel panel-info">
                <div class="panel-heading">Paste yours sequences (Fasta format)</div>
                <div class="panel-body">
                    <div class="form-group">
                    {% crispy textarea_form %}
                    </div>
            </div>
         </div>
    </div>
</div>
{% endblock content %}
