{% extends "workflows/workflows_oneclick_list.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block nav-analysis %}class="active"{% endblock %}
{% block stylesheet %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{% static 'js/jquery.filer.min.js' %} "></script>
    <link rel="stylesheet" href="{% static 'css/jquery.filer.css' %}"/>
    <script>
        function boolean_checkbox(element) {
            if ($(element).prop('checked')) {
                $(element).attr('value', $(element).attr("data-on-value"));
                $("#" + $(element).attr("name") + "_unchecked").remove()
            } else {
                $(element).attr('value', $(element).attr("data-off-value"));
                $('<input/>', {
                    id: $(element).attr("name") + "_unchecked",
                    type: 'hidden',
                    name: $(element).attr("name"),
                    value: $(element).attr("value")
                }).appendTo($(element).parent());
            }
        }

        function toggle_condition(test_field, toggle_elt) {
            var cond = $(toggle_elt).attr("data-case");
            var test = test_field.val();
            if (test == cond) {
                $(toggle_elt).show();
                $(toggle_elt).find(':input').attr('disabled', false);
            }
            else {
                $(toggle_elt).hide();
                $(toggle_elt).find(':input').attr('disabled', true);
            }
        }

        function jq_conv_id(myid) {
            return myid.replace(/(:|\.|\[|\]|\||\,)/g, "\\$1");
        }

    </script>
    <script>
        $(document).ready(function () {

            //file field
            $(':file').filer({
                showThumbs: true,
                changeInput: true
            });

            //put label on the top of checkbox//
            $('[data-toggle="toggle"]').each(function () {
                if (this.id) {
                    var checkbox_label = $('label[for="' + this.id + '"]>div');
                    var parent = checkbox_label.parent();
                    parent.after(checkbox_label).addClass('control-label');
                    parent.parent().removeClass("checkbox").before(parent);
                }
            });

            //hide or show conditionals fields
            $('[data-test]').each(function (index, toggle_elt) {

                var m_id = {{ wizard.steps.index }} +'-' + $(toggle_elt).attr("data-test");
                var test_fields = $('input[name="' + jq_conv_id(m_id) + '"],' +
                    'select[name="' + jq_conv_id(m_id) + '"]');

                var test_field;
                if (test_fields.length > 1) {
                    //radiobox
                    test_field = test_fields.filter(':checked');
                } else {
                    test_field = test_fields;
                }
                if (test_field.attr("data-toggle")) {
                    boolean_checkbox(test_field);
                }

                toggle_condition(test_field, toggle_elt);
                test_fields.change(function () {
                    if (test_fields.length > 1) {
                        test_field = test_fields.filter(':checked');
                    }
                    boolean_checkbox(this);
                    toggle_condition(test_field, toggle_elt);
                });

            });

            //Bug wizard form file fix
            var input_file = $("input[type=file]");
            if (input_file.length > 0) {
                input_file.each(function () {
                    var newname = $(this).attr('name').replace("[]", '');
                    $(this).attr('name', newname);
                });
            }
            if ('{{ wizard.steps.index }}' != '{{ wizard.steps.last }}') {
                $("input[name='submit']").hide()
            } else {
                $('#lastnext').hide();
            }
        });
    </script>

{% endblock %}
{% block workflow-type %}Workflows Marker{% endblock %}
{% block workflow-name %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6"><h3><span class="glyphicon glyphicon-chevron-right"></span>{{ workflow_list.0.name }}</h3>
        </div>
    </div>{% endblock %}
{% block workflow-sidebar %}
    <div class="col-md-2"></div>{% endblock %}
{% block workflow-form %}
    <div class="col-md-7">
        {% include "workflows/include/workflow_wizardform.html" %}
    </div>
{% endblock %}