{% extends "base.html" %}
{% load static %}

{% block nav-home %}class="active"{% endblock %}
{% block stylesheet %}
<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js "></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ tool.name }}
            {% for input_data in tool.input_data %}
                {{ input_data.name }}
            {% endfor %}
            {% for output_data in tool.output_data %}
                {{ output_data.name }}
            {% endfor %}
        </div>
    </div>
{% endblock %}