{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav-home %}class="active"{% endblock %}
{% block stylesheet %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{% static 'js/jquery.filer.min.js' %} "></script>
<link rel="stylesheet" href="{% static 'css/jquery.filer.css' %}" />

<script>
    $(document).ready(function () {
        $(':file').filer({
            showThumbs: true,
            changeInput: true,
        });

        //put label on top of checkbox//
        $('[data-toggle="toggle"]').each(function () {
            if (this.id) {
                var checkbox_label = $('label[for="' + this.id + '"]>div');
                var parent = checkbox_label.parent();
                parent.after(checkbox_label).addClass('control-label');
                parent.parent().removeClass("checkbox").before(parent);

                //create an hidden input to save uncheckvalue//
                $('<input>').attr({
                    type: 'hidden',
                    name: $(this).attr('name'),
                });
            }
         });

        var conditional_fields = $('[id*=_cond_]');
        $.each(conditional_fields, function (index, toggle_elt) {
            var str = toggle_elt.id;
            str = str.split('_cond_');
            var m_id = str[0], cond = str[1];
            var test_field = $('#' + m_id);

            if (test_field.attr("data-toggle")) {
                boolean_checkbox(test_field);
            };
            toggle_condition(test_field, toggle_elt, cond );
            test_field.change( function(){

                boolean_checkbox(this);
                toggle_condition(test_field, toggle_elt, cond ) ;
                });

            });
        });
        function boolean_checkbox(element) {
            var new_value;
            if ($(element).prop('checked')) {
                new_value = $(element).attr("data-on-value");
            } else {
                new_value = $(element).attr("data-off-value");
            };
            $('[name="' + $(element).attr('name') + '"]').attr('value', new_value);
        };

        function toggle_condition(test_field, toggle_elt, cond) {
            if (test_field.val() == cond) {
                $(toggle_elt).show();
            }
            else {
                $(toggle_elt).hide();
            }
        };


</script>

{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
            <h3>{{ tool.name }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% crispy toolform %}
        </div>
    </div>
{% endblock %}