{% extends "base_site.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheet %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        function boolean_checkbox(element) {
            if ($(element).prop('checked')) {
                $(element).attr('value', $(element).attr("data-on-value"));
            } else {
                $(element).attr('value', $(element).attr("data-off-value"));
            }
        }

        function test_data_case(test_param, data_case) {
            if ($(data_case).attr('data-case') === test_param.val()) {
                $(data_case).show();
            } else {
                $(data_case).hide();
            }
        }

        function toggle_condition(test_field, toggle_elt) {
            boolean_checkbox(test_field);
            test_data_case(test_field, toggle_elt);
        }

        function jq_conv_id(myid) {
            return myid.replace(/(:|\.|\[|\]|\||\,)/g, "\\$1");
        }


    </script>
<script type="text/javascript">
        function init_input_file() {

            //var fileInput = $(':file').first();
            $(':file').each(function(){
            var fileInput = $(this);
            var parentFileDiv = fileInput.parent().parent();
            var ext = fileInput.data('ext');
            var input_name = fileInput.data('name');
	    var compatible_inputs = fileInput.data('compatible-inputs')
            // read input file
            parentFileDiv.append("<textarea id='filecontent_" + fileInput.attr('name') + "'"
                                 + "class='textarea form-control' rows='10' cols='40' name='"
                                 + fileInput.attr('name') + "'  ></textarea>"
                                 );
	    // We propose to use a galaxy file (stored in the session)
	    // as input of the tool
	    if(compatible_inputs.length > 0){
                var selectField = "<select id=galaxyfile_" + fileInput.attr('name')+" name=galaxyfile_" + fileInput.attr('name')+">";
                selectField += "<option value=none>--</option>";    
                for(var i in compatible_inputs){
	           selectField += "<option value="+compatible_inputs[i].id+">"+compatible_inputs[i].name+"</option>";
	        }
                selectField += "</select>";
	        parentFileDiv.append(selectField);
	    }

            //fileInput.attr('required', false);
            //read file
            fileInput.change(function (evt) {
                parentFileDiv.find('textarea').val("");
            });
            parentFileDiv.find('textarea').change(function() {
                fileInput.val('');
            });

            parentFileDiv.append("<button id='cleanTextarea"+ fileInput.attr('name')+"' type='button' class='btn btn-default'><span class='glyphicon glyphicon-trash'></span></button>");
            $("#cleanTextarea"+fileInput.attr('name')).click(this, function () {
                parentFileDiv.find('textarea').val("");
                fileInput.val('');
            });

            // fetch example file
             $.post(
                "{% url 'get_example'%}",
                {
                    ext_file: ext,
                    input_name: input_name,
                    tool_id : {{ tool.id }},
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                function (response) {
                    if ($.trim(response)){
                    parentFileDiv.find('textarea').data('example', response);
                    parentFileDiv.append("<button id='getExample"+ fileInput.attr('name')+"' type='button' class='btn btn btn-info'><span class='glyphicon glyphicon-question-sign'> </span> Example</button>");

                    $('#getExample'+ fileInput.attr('name')).click(function () {

                        parentFileDiv.find('textarea').val(parentFileDiv.find('textarea').data('example'));
                        fileInput.val('');
                    });
                }
            });
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //init input file
            init_input_file();
            //put label on the top of checkbox//
            $('[data-toggle="toggle"]').each(function () {
                if (this.id) {
                    var checkbox_label = $('label[for="' + this.id + '"]>div');
                    var parent = checkbox_label.parent();
                    parent.after(checkbox_label).addClass('control-label');
                    parent.parent().removeClass("checkbox").before(parent);
                }
            });

            //hide or show conditionals fields
            $('[data-test]').each(function (index, elt) {

                // search related test_param
                var m_id = $(elt).attr("data-test");
                var test_param = $('input[name="' + jq_conv_id(m_id) + '"], ' +
                    'select[name="' + jq_conv_id(m_id) + '"]'
                );

                // if radiobox
                if (test_param.length > 1) {
                    test_data_case(test_param.filter(':checked'), $(elt));
                }
                else if (test_param.length === 1) {

                    // if checkbox
                    if (test_param.attr("data-toggle")) {
                        toggle_condition(test_param, $(elt));
                    } else {
                        // if selectbox
                        test_data_case(test_param, $(elt));
                    }
                }

                test_param.change(function () {
                    // if radiobox
                    if (test_param.length > 1) {
                        test_data_case(test_param.filter(':checked'), $(elt));
                    }
                    else if (test_param.length === 1) {

                        // if checkbox
                        if (test_param.attr("data-toggle")) {
                            toggle_condition(test_param, $(elt));
                        } else {
                            // if selectbox
                            test_data_case(test_param, $(elt));
                        }
                    }
                });
            });

        });
    </script>
{% endblock %}
{% block title %}{{ tool.name }} <span class="badge">{{ tool.version }}</span></h3>{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            {%  if message %}
            <div id="error-message">{{ message }}</div>
            {%  endif %}
	    <div>
            <form action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    {% crispy toolform %}
                </fieldset>
                <hr>
                <input name="submit" value="Submit" class="btn btn-primary pull-right" id="submit" type="submit">
            </form>
	    </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
	<h3> References </h3>
	<ul>
	  {% for c in tool.citations %}
	  <li>{{ c | safe }}</li>
	  {% endfor %}
	</ul>
      </div>
    </div>
    {% include "include/waiting_modal.html" %}
{% endblock %}
