{% extends "base_site.html" %}
{% load static %}
{% block title %}Tool{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1"></th>
                <th>
                    Info
                </th>
                <th>
                    Tool
                </th>
                <th>
                    Version
                </th>
            </tr>
            </thead>
            {% regroup tool_list|dictsort:"toolflag_set.first.verbose_name" by toolflag_set.first as tool_groups %}
            {% for flag in tool_groups %}
            <tr>
                <td class="list-inline active" colspan="4"><span class="h5">{{flag.grouper}}</span></td>
            </tr>
            {% for tool in flag.list|dictsort:"name" %}
            <tr class="">
                <td></td>
                <td><a class="btn btn-toolbar" href="{%  url 'tool_detail' tool.pk %}">
                    <span class="glyphicon glyphicon-info-sign"></span></a>
                </td>
                <td><a class="btn btn-toolbar btn-sm" href="{%  url 'tool_form' tool.pk %}">{{ tool.name }}</a></td>
                <td>
		  <a class="btn btn-toolbar btn-sm" href="{%  url 'tool_form' tool.pk %}">
		    <span class="badge">{{ tool.version }}</span>
		  </a>
		</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
