{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav-tools %}class="active"{% endblock %}
{% block stylesheet %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{% static 'js/jquery.filer.min.js' %} "></script>
    <link rel="stylesheet" href="{% static 'css/jquery.filer.css' %}"/>
    <script>
        function boolean_checkbox(element) {
            if ($(element).prop('checked')) {
                $(element).attr('value', $(element).attr("data-on-value"));
            } else {
                $(element).attr('value', $(element).attr("data-off-value"));
            }
        }

        function test_data_case(test_param, data_case) {
            if ($(data_case).attr('data-case') === test_param.val()) {
                $(data_case).show();
            } else {
                $(data_case).hide();
            }
        }

        function toggle_condition(test_field, toggle_elt) {
            boolean_checkbox(test_field);
            test_data_case(test_field, toggle_elt);
        }

        function jq_conv_id(myid) {
            return myid.replace(/(:|\.|\[|\]|\||\,)/g, "\\$1");
        }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //file field
            $(':file').filer({
                limit: 1,
                showThumbs: true,
                changeInput: true

            });
            //put label on the top of checkbox//
            $('[data-toggle="toggle"]').each(function () {
                if (this.id) {
                    var checkbox_label = $('label[for="' + this.id + '"]>div');
                    var parent = checkbox_label.parent();
                    parent.after(checkbox_label).addClass('control-label');
                    parent.parent().removeClass("checkbox").before(parent);
                }
            });

            //hide or show conditionals fields
            $('[data-test]').each(function (index, elt) {

                // search related test_param
                var m_id = $(elt).attr("data-test");
                var test_param = $('input[name="' + jq_conv_id(m_id) + '"], ' +
                    'select[name="' + jq_conv_id(m_id) + '"]'
                );

                // if radiobox
                if (test_param.length > 1) {
                    test_data_case(test_param.filter(':checked'), $(elt));
                }
                else if (test_param.length === 1) {

                    // if checkbox
                    if (test_param.attr("data-toggle")) {
                        toggle_condition(test_param, $(elt));
                    } else {
                        // if selectbox
                        test_data_case(test_param, $(elt));
                    }
                }

                test_param.change(function () {
                    // if radiobox
                    if (test_param.length > 1) {
                        test_data_case(test_param.filter(':checked'), $(elt));
                    }
                    else if (test_param.length === 1) {

                        // if checkbox
                        if (test_param.attr("data-toggle")) {
                            toggle_condition(test_param, $(elt));
                        } else {
                            // if selectbox
                            test_data_case(test_param, $(elt));
                        }
                    }
                });
            });

        });
    </script>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
            <h3>{{ tool.name }} <span class="badge">{{ tool.version }}</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    {% crispy toolform %}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}