{% extends "base_site.html" %}
{% load static %}
{% block title %}History
<a onclick="refresh()" class="btn btn-primary">
  <span class="glyphicon glyphicon-refresh"></span>Refresh
</a>
{% if object.workflow %}
<a href="{% url 'workflow_rerun' object.workflow.id_galaxy %}" class="btn btn-warning" tooltip="Reuse workflow skeleton">
  <span class="glyphicon glyphicon-repeat"></span>Reuse
</a>

{% endif %}

{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    {% if object.history_content %}
      {% if object.history_content|dictsortreversed:"hid"|length > 1 %}
        {% include "workspace/include/history_contents_provenance_ajax.html" %}
      {% else %}
        {% include "workspace/include/history_wait.html" %}
      {% endif %}
    {% else %}
        {% include "workspace/include/history_wait.html" %}    
    {% endif %}
  </div>
</div>
{% endblock %}
