{% extends "base_site.html" %}
{% load static %}
{% block nav-workspace %}
    {{ block.super }}
    <!-- <li class="active"> -->
    <!--     <a href="{% url 'history_detail' history_info.id %}"> -->
    <!--         <span class="glyphicon glyphicon-list-alt"></span> {{ history_info.id |truncatechars:9 }} -->
    <!--     </a> -->
    <!-- </li> -->
{% endblock %}
    {% block title %}History
    <a onclick="refresh()" class="btn btn-primary">
      <span class="glyphicon glyphicon-refresh"></span>Refresh
    </a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if history_content %}
                {% include "workspace/include/history_contents_provenance_ajax.html" %}
            {% else %}
                <div class="jumbotron">
                    You haven't any recent analyzes in progress
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
