{% extends "base.html" %}
{% load static %}
{% block stylesheet %}

{% endblock %}
{% block nav-workspace %}class="active"{% endblock %}
{% block content %}
    <div class="row">
        <h3>Previous analyses</h3>
        <br>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ul class="nav ">
                {% for history in histories %}
                    <li class="col-md-9" style="background-color:{% cycle '#f5f9fb' '#fcfcfc' %}">
                        <a href="{% url 'history_detail' history.history %}">
                            <span class="badge">{{ forloop.counter }}</span>
                            <span class="label label-default">{{ history.created_date }}</span>
                            <span class="label label-info">{{ history.history|truncatechars:9 }}</span>
                            <span class="glyphicon glyphicon-cog"></span>
                            {{ history.name }}
                        </a>
                    </li>
                    <li class="col-md-1" style="background-color:{% cycle '#f5f9fb' '#fcfcfc' %}">
                        <a href="{% url 'history_delete' history.history %}">
                            <span class='glyphicon glyphicon-trash text-default'></span>
                        </a>
                    </li>



                {% empty %}
                    <div class="jumbotron">
                        You haven't any recent analyses in progress
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
