{% extends "base.html" %}
{% load static %}
{% block title-block %} - Daily Workflow Report{% endblock %}
{% block stylesheet %}
{% include "workspace/_report_styles.html" %}
{% endblock %}
{% block javascripts %}
<script src="{% static 'js/chart-4.5.1.umd.min.js' %}"></script>
{% endblock %}
{% block content %}
<div class="report-wrapper">
<p class="report-subtitle" style="text-align:right;margin-top:0;">
  Cached for up to 15 minutes -
  <a href="?refresh=1">refresh now</a>
</p>
{% include "workspace/_report_body.html" %}
</div>
{% include "workspace/_report_charts_init.html" %}
{% endblock %}
