{% extends "base.html" %}

{% block content %}
<h2>Are you sure?</h2>
<p class="lead">Are you sure you want to delete this analyse {{ object.history }} create on {{ object.created_date }}?
</p>
<form method="post">{% csrf_token %}
    <div>
        <input type="hidden" name="post" value="yes"/>
        <input type="submit" class="btn btn-danger" value="Yes, I'm sure"/>
        <a href="{% url 'previous_analyses' %}" class="button cancel-link">"No, take me back"</a>
    </div>
</form>

{% endblock %}