{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %} {% endblock %}

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <title>NGPhylogeny.fr{% block title-block %}{% endblock %}</title>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/ngphylo.js' %}"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
    {% block stylesheet %} {% endblock %}

    {% block javascripts %} {% endblock %}
</head>
<body>
  <div class="github-fork-ribbon">
    <a href="https://github.com/C3BI-pasteur-fr/NGPhylogeny_fr_django">Fork me on GitHub</a>
  </div>
<div id="page-wrapper">
  <header class="pagehead">
    <a href="https://www.pasteur.fr" class="pagehead-logo-link">
      <img class="pagehead-logo" src="{% static 'images/logo_institut_pasteur_white.png' %}" alt="Institut Pasteur" width="119" height="44">
    </a>
    <h1><span class="title-cap">NG</span>Phylogeny.fr</h1>
  </header>
<nav class="navbar-default">
    <div id="topnavbar" class="container-fluid">
        <ul class="nav nav-tabs">
            {% block nav-home %}
                <li><a href="{% url 'home' %}">
                <span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="dropdown {% block nav-analysis %}{% endblock %}">
                <a class="dropdown-toggle" href="{% url 'analysis_list' %}">
                    <span class="glyphicon glyphicon-cog"></span> Phylogeny Analysis
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'workflow_oneclick_list' %}">One click workflows</a></li>
                    <li><a href="{% url 'workflows_advanced' %}">Advanced workflows</a></li>
                    <li><a href="{% url 'workflows_alacarte' %}">A la Carte</a></li>
                    <li><a href="{% url 'blast_form' %}">Blast Analysis</a></li>
                </ul>
            </li>
            {% endblock %}
            {% block nav-tools %}
                <li>
                <a href="{% url 'tools' %}"><span class="glyphicon glyphicon-briefcase"></span> Tools</a>

            </li>
            {% endblock %}
            {% block nav-workspace %}
                <li>
                <a href="{% url 'previous_analyses' %}">
                    <span class="glyphicon glyphicon-th-list"></span> Workspace
                    <span class="badge">{{ request.session.histories|length }}</span>
                </a>

            </li>
            {% endblock %}
            {% block nav-doc %}
                <li><a href="{% url 'documentation' %}">
                <span class="glyphicon glyphicon-book"></span> Documentation</a>
            </li>
            <li class="dropdown {% block nav-about %}{% endblock %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'about' %}">
                    <span class="glyphicon glyphicon-question-sign"></span> About
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'about' %}">Citations</a></li>
                    <li><a href="{% url 'feedback' %}">Contact</a></li>
                </ul>
            </li>
            {% endblock %}
            <li class="user navbar-right">
                {%if user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
            {% if request.user.is_superuser %}
            <li class="user navbar-right">
                <a href="{% url 'admin:index' %}">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
            </li>
            {% endif %}
            {% if request.user.is_staff %}
            <li class="user navbar-right">
                <a href="{% url 'running_jobs' %}" title="Running jobs">
                    <span class="glyphicon glyphicon-time"></span>
                </a>
            </li>
            <li class="user navbar-right">
                <a href="{% url 'daily_report' %}" title="Daily workflow report">
                    <span class="glyphicon glyphicon-stats"></span>
                </a>
            </li>
            {% endif %}
            <li class="user navbar-right">
                <a href="{% url 'account' %}">
                    <span class="glyphicon glyphicon-user"></span> {{user}}
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </a>

                {% endif %}
            </li>

        </ul>
    </div>
</nav>
{% block section-title %}
{% endblock %}
<div class="container">
    {% comment %}
    Shared across every page - used to be a handful of individual pages
    each rendering their own ad-hoc messages block, some filtering to
    error-tagged messages only. A message added on a page that never
    rendered any such block at all (e.g. account.views.AccountDeleteView's
    own confirmation, which redirects to the home page) used to sit
    queued (django.contrib.messages defaults to cookie-based storage,
    unaffected by login/logout/session changes) until it happened to
    land on one of those few pages later, however much later that was -
    reported live as a stale "Your account and its analyses have been
    deleted" message showing up on the account page right after a
    brand new, unrelated sign-up. Rendering (and thereby consuming)
    every message on every page, right where it's actually added, is
    what actually fixes that, not just this specific report of it.

    Do not spell out real template tag syntax inside this comment block
    (e.g. literal curly-brace-percent if/endif text) - Django's lexer
    tokenizes the whole template before this comment is stripped, and a
    multi-line {# #} comment specifically does not span newlines at all
    (its regex has no DOTALL), so any such text would either get parsed
    as a real tag or, as happened here once already, leak the entire
    "commented-out" text as visible page content instead of being
    hidden. Paraphrase instead, as done above.
    {% endcomment %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissable" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block jumbotron %}{% endblock %}
    {% block goback %} {% endblock %}
    {% block content %} {% endblock %}
</div>
<div class="container-fluid" style="padding-left: 4%;">
{% block xl-content %} {% endblock %}
</div>
<footer class="footer container-fluid">
        <div class="row">
            <a href="https://www.pasteur.fr">
                <div><img class="center-block logo_contrib" alt="Institut Pasteur"
                          src="{% static 'images/logo_institut_pasteur.png' %}"></div>
            </a>
            <a href="http://www.lirmm.fr">
                <div><img class="center-block logo_contrib" alt="Lirmm"
                          src="{% static 'images/logo_lirmm.png' %}"></div>
            </a>
            <a href="http://www.atgc-montpellier.fr">
                <div><img class="center-block logo_contrib" alt="LRI"
                          src="{% static 'images/logo_atgc.png' %}"></div>
            </a>
            <a href="https://www.lri.fr/">
                <div><img class="center-block logo_contrib" alt="LRI"
                          src="{% static 'images/logo_lri.png' %}"></div>
            </a>

            <a href="https://www.france-bioinformatique.fr">
                <div><img class="center-block logo_contrib" alt="IFB"
                          src="{% static 'images/logo_ifb.png' %}"></div>
            </a>
        </div>

</footer>
<script>
    var str = location.href;
    $("#topnavbar > ul > li > a ").each(function () {
        console.log(this.href, str);
        if (this.href == str) {
            $(this).parent().addClass("active");
        }
    });
</script>
</div>
</body>
</html>
