{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <title>NGPhylogeny.fr{% block title-block %}{% endblock %}</title>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>

    {% block stylesheet %} {% endblock %}
    {% block javascripts %} {% endblock %}
</head>
<body>
<header class="jumbotron">
    <div class="container text-center">
        <div class="title-bg">
            <h1><span class="title-cap">NG</span>PHYLOGENY.FR</h1>
            <br>
        </div>
    </div>
</header>
<nav class="navbar-default">
    <div class="container">
        <ul class="nav nav-tabs">
            <li {% block nav-home %}{% endblock %}><a href="{% url 'home' %}">
                <span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li {% block nav-analysis %}{% endblock %}><a href="{% url 'analysis_list' %}">
                <span class="glyphicon glyphicon-cog"></span> Phylogeny Analysis</a></li>
            <li {% block nav-tools %}{% endblock %}><a href="{% url 'tools' %}">
                <span class="glyphicon glyphicon-briefcase"></span> Tools</a></li>
            <li {% block nav-workspace %}{% endblock %}>
                <a {% if request.session.histories|length > 1 %}
                    href="{% url 'previous_analyses' %}"
                    {% elif request.session.histories|length is 1%}
                    href="{% url 'history_current_detail' %}"
                    {% else %}
                    class="text-muted"
                    {% endif %}
                    >
                    <span class="glyphicon glyphicon-list-alt"></span> Workspace
                    <span class="badge">{{ request.session.histories|length }}</span>
                </a>
            </li>

            <li {% block nav-doc %}{% endblock %}><a href="{% url 'documentation' %}">
                <span class="glyphicon glyphicon-book"></span> Documentation</a>
            </li>
            <li {% block nav-about %}{% endblock %}>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-question-sign"></span> About
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'about' %}">Citations</a></li>
                    <li><a href="{% url 'feedback' %}">Contact</a></li>
                </ul>
            </li>
            <li class="user navbar-right">
                {%if user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
            {% if request.user.is_superuser %}
            <li class="user navbar-right">
                <a href="{% url 'admin:index' %}">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
            </li>
            {% endif %}
            <li class="user navbar-right">
                <a href="{% url 'account' %}">
                    <span class="glyphicon glyphicon-user"></span> {{user}}
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </a>

                {% endif %}
            </li>

        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign"> </span>
        <b>WARNING</b> It's a BETA version
    </div>
    {% block jumbotron %}{% endblock %}
    {% block content %} {% endblock %}
</div>
<footer class="footer container-fluid">
    <div class="container">
        <div class="row">
            <a href="https://c3bi.pasteur.fr/">
                <div class="col-md-3"><img class="center-block logo_contrib"
                                           src="{% static 'images/ip_cnrs_c3bi_logo.png' %}"></div>
            </a>
            <a href="http://www.lirmm.fr/">
                <div class="col-md-3"><img class="center-block logo_contrib"
                                           src="{% static 'images/lirmm_logo.png' %}"></div>
            </a>
            <a href="https://www.lri.fr/">
                <div class="col-md-2"><img class="center-block logo_contrib"
                                           src="{% static 'images/lri_logo.png' %}"></div>
            </a>
            <a href="https://www.igs.cnrs-mrs.fr/">
                <div class="col-md-1">
                    <span class="center-block logo_contrib">
                    <span class="h2">IGS. </span>
                    <span>Marseille</span>
                    </span>
                </div>
            </a>
            <a href="https://www.france-bioinformatique.fr/">
                <div class="col-md-2"><img class="center-block logo_contrib"
                                           src="{% static 'images/ifb-logo.png' %}"></div>
            </a>
        </div>
    </div>
</footer>
</body>
</html>