{% extends "base.html" %}
{% load static %}
{% block nav-workspace %}
    {{ block.super }}
    <li class="active">
        <a>
            <span class="glyphicon glyphicon-exclamation-sign"></span> Error
        </a>
    </li>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block goback %}
<div class="row">
    <a href="{% url 'history_detail' history_id %}" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span> Go back</a>
</div>
<br>
{% endblock %}
{% block content %}
<div id="view" class="row">
  <h2>Error in job {{jobname}}</h2>
  <table id="paramtable" style="margin-left:auto;margin-right:auto;">
    <thead>
      <tr><th>Key</th><th>Value</th></tr>
    </thead>
    <tbody>
      <tr><td>Status</td><td><pre>{{ state }}</pre></td></tr>
      <tr><td>Message</td><td><pre>{{ error|escape|linebreaks }}</pre></td></tr>
    </tbody>
  </table>
</div>
{% endblock %}
