{% extends "base.html" %}
{% load static %}
{% block nav-workspace %}
    {{ block.super }}
    <li class="active">
        <a>
            <span class="glyphicon glyphicon-eye-open"></span> Display
        </a>
    </li>
{% endblock %}
{% block javascripts %}
<script>
        $(document).ready(function(){
        $.ajax({
        url: document.URL,
        success: function(data) {
            $('#view').html("<pre>"+data+"</pre>");
        }});
        });
</script>
{% endblock %}
{% block goback %}
<div class="row">
    <a href="{% url 'history_detail' history_id %}" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span> Go back</a>
</div>
<br>
{% endblock %}
{% block content %}
<div id="view" class="row">
    <h4><span class="glyphicon glyphicon-refresh spin"></span> Loading ...</h4>
</div>
{% endblock %}
