{% extends "base.html" %}
{% load static %}
{% block nav-workspace %}class="active"{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
        $.ajax({
        url: document.URL,
        success: function(data) {
            $('#view').html("<pre>"+data+"</pre>");
        }});
        });
    </script>
{% endblock %}
{% block content %}
    <div id="view" class="row">
        <h4><span class="glyphicon glyphicon-refresh spin"></span> Loading ...</h4>
    </div>
{% endblock %}
