{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}"/>
{% endblock %}
{% block jumbotron %}
    <div class="jumbotron text-center">
        <div class="error-page-wrapper background">
            <div class="content-container">
                {% block code-error %}
                {% endblock %}
                {% block message-error %}
                    <h2>{{ errortitle }}</h2>
                    <p>{{ errormessage }}</p>
                {% endblock %}
                {% block redirect-error %}
                    <div class="buttons-container">
                        <a class="btn" href="{% url 'home' %}">
                            <span class="glyphicon glyphicon-home"></span>
                            Go to homepage
                        </a>
                        <a class="btn" href="{% url 'feedback' %}">
                            <span class="glyphicon glyphicon-warning-sign"></span>
                            Report a problem
                        </a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
