{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}
    {% block jumbotron %}
    <div class="jumbotron-home">
      <div class="jumbotron-layer">
	{# <img alt="phylogeny.fr" src="{% static 'images/logo_phylogeny-fr.png' %}" class="center-block"> #}
        <p><strong><em>Robust phylogenetic analysis for everyone. </em></strong></p>
	<p><span class="glyphicon glyphicon-chevron-right"></span>
        Free, simple to use web service dedicated to
        reconstructing and analysing phylogenetic relationships between
        molecular sequences.</p>
	    <img id="genie" src="{% static 'images/genie.svg' %}"/>
        <p class="text-center">
	  <a href="{% url 'workflow_oneclick_list' %}" class="btn playbtn">
            <span class="glyphicon glyphicon-play"></span> <strong>Let's GO !</strong> with One Click Workflow
          </a>
	</p>
      </div>
</div>
{% endblock %}
{% block content %}
    <hr>
    {% include "include/phylogeny_analysis_list.html" %}
    <div class="extension-banner">
        <svg width="42" height="42" viewBox="0 0 24 24" fill="none" stroke="#1f77b4" stroke-width="1.6" class="extension-banner-icon">
            <rect x="3" y="4" width="18" height="14" rx="2"/>
            <path d="M3 8h18"/>
            <path d="M12 12v6M9 21h6M9 15h1M12 15h1M15 15h1"/>
        </svg>
        <div class="extension-banner-text">
            <h3>Browser Extension <span class="badge-new">New</span></h3>
            <p>Paste sequences from any page straight into an NGPhylogeny One Click or BLAST form.</p>
        </div>
        <a href="https://github.com/C3BI-pasteur-fr/ngphylogeny-browser-extension/releases/download/v0.3.0/4d1996c9cfc44481a440-0.3.0.xpi"
           class="btn extension-banner-btn">
            Get it for Firefox
        </a>
    </div>
{% endblock %}
