{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %} {% endblock %}

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <title>NGPhylogeny.fr{% block title-block %}{% endblock %}</title>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/ngphylo.js' %}"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
</head>
<body>
  <a href="https://github.com/C3BI-pasteur-fr/NGPhylogeny_fr_django"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<div id="page-wrapper">
  <header class="pagehead">
    <h1><span class="title-cap">NG</span>Phylogeny.fr</h1>
  </header>
    <div style="margin-left:auto;margin-right:auto;text-align: center;font-size:15pt;">
      NGPhylogeny.fr is under maintenance (Underlying Galaxy server and tool wrappers).<br/><br/>

      It will be available again on Friday (03/15). <br/><br/>
      
      Thank you for your patience.<br/>
      
      <img src="{% static 'images/maintenance.png' %}"/>
    </div>

  <footer class="footer container-fluid">
        <div class="row">
            <a href="https://c3bi.pasteur.fr">
                <div><img class="center-block logo_contrib" alt="C3BI"
                          src="{% static 'images/logo_ip_cnrs_c3bi.png' %}"></div>
            </a>
            <a href="http://www.lirmm.fr">
                <div><img class="center-block logo_contrib" alt="Lirmm"
                          src="{% static 'images/logo_lirmm.png' %}"></div>
            </a>
            <a href="http://www.atgc-montpellier.fr">
                <div><img class="center-block logo_contrib" alt="LRI"
                          src="{% static 'images/logo_atgc.png' %}"></div>
            </a>
            <a href="https://www.lri.fr/">
                <div><img class="center-block logo_contrib" alt="LRI"
                          src="{% static 'images/logo_lri.png' %}"></div>
            </a>

            <a href="https://www.france-bioinformatique.fr">
                <div><img class="center-block logo_contrib" alt="IFB"
                          src="{% static 'images/logo_ifb.png' %}"></div>
            </a>
            <a href="https://www.igs.cnrs-mrs.fr">
                <div>
                    <img class="center-block logo_contrib" alt="IGS"
                         src="{% static 'images/logo_igs.jpg' %}"></div>
            </a>
        </div>

</footer>
</div>
</body>
</html>
