{% extends "base.html" %}
{% load static %}
{% block nav-analysis %}class="active"{% endblock %}
{% block content %}
    <h2>Phylogeny Analysis</h2>
    <br>
    <div class="btn-group-vertical">
        <a class="btn btn-default" href="{% url 'workflows_oneclick' %}">
            <dt>
            <h3><span class="glyphicon glyphicon-chevron-right small"></span> One Click</h3></dt>
            <dd>
                Paste your set of sequences and let the software make decisions on your
                behalf (Each step is optimized for your data).<br/>
                <br/>
            </dd>
        </a>
        <a class="btn btn-default" href="{% url 'workflows_advanced' %}">
            <dt>
            <h3><span class="glyphicon glyphicon-chevron-right small"></span> Advanced</h3>
            </dt>
            <dd>
                Manually set parameters for the various steps.<br/>
                <br/>
            </dd>
        </a>
        <a class="btn btn-default" href="{% url 'workflows_alacarte' %}">
            <dt>
            <h3><span class="glyphicon glyphicon-chevron-right small"></span> A la Carte</h3>
            </dt>
            <dd>
                Create your own phylogeny workflow using more programs available.<br/>
                <br/>
            </dd>
        </a>
    </div>
{% endblock %}